.container {
    width: 800px; 
    height: 450px; 
    border: 1px solid black;
    background-color: #333; /* Dark background */
  }

 .rect1 {
    position: absolute;
     margin-top: 0%;
     margin: bottom 0%;
    width: 600px;
    height: 350px;
    background-color: rgb(119, 5, 5);
  }

 .rect2 {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 40px;
    right: 200px;
    margin-right: 50px;
    width: 450px;
    height: 300px;
    background-color: green;
  }

 .rect3 {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 100px;
    left: 60px;
    right: 700px;
    width: 300px;
    height: 230px;
    background-color: yellow;
  }

 .rect4 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 130px;
    background-color: blue;
    margin-bottom: 100px;
  }

  #pink-rect {
    position: absolute;
    top: 250px;
    left: 250px;
    width: 200px;
    height: 150px;
    background-color: pink;
  }

  #purple-rect {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 100px;
    height: 100px;
    background-color: purple;
  }

  /* Style for the text */
  #text {
    position: absolute;
    top: 350px;
    left: 350px;
    color: white;
    font-size: 20px;
  }